<!-- To show messages -->
<div id="msg">msg</div>
<div id="msg2">msg</div>
<div id="msg3">msg</div>
<!-- To show board -->
<div id="board"></div>
<!-- Initial form-->
<form id ="playform" action="" method="POST">
  <div>Player</div>
  <input name="player" type="text" value="You"/>
  <input type="submit" value="Start"/>
</form>